<section class="my-8 flex flex-col gap-5">
  <h1 class="text-2xl font-bold">Template-Driven Forms</h1>
  <p>Template-Driven Forms rely on HTML for defining the form structure and logic, while Angular manages form state and
    validation automatically.</p>
  <ul class="list-inside list-disc">
    <li class="p-2"><strong>Use of Directives</strong>: Utilizes Angular directives, such as <strong>ngModel</strong>,
      for data binding and managing form state.</li>
    <li class="p-2"><strong>Easy to Set Up</strong>: Ideal for simple or smaller forms</li>
  </ul>
</section>


<form #form="ngForm" (ngSubmit)="send(form)"
  class="w-1/2 mx-auto p-5 flex justify-center items-center flex-col gap-9 bg-base-200 rounded-2xl">
  <h1 class="text-center text-xl font-bold">My Template-Driven Form</h1>


  <!-- name -->
  <label for="Name" class="">
    <input
    name="name" type="text"
    class="input input-bordered !w-full"
    placeholder="Name"
    [(ngModel)]="user.name"
    #name="ngModel"
    minlength="3"
    required
    />
  </label>

  <!-- lastname -->
  <label for="Lastname" class="">
    <input
    name="latsname" type="text"
    class="input input-bordered w-full"
    placeholder="Lastname"
    #lastname="ngModel"
    [(ngModel)]="user.lastname"
    required
    minlength="3"
 />
  </label>

  <!-- phonenumber -->
  <label for="Phone" class="">
    <input name="phonenumber" type="number"
    class="input input-bordered w-full"
    placeholder="Phone"
    #phonenumber="ngModel"
    [(ngModel)]="user.phonenumber"
    required
    />
  </label>

  <button
  class="btn btn-active btn-primary w-4/5"
  type="submit"
  [disabled]="form.invalid">
    Send
  </button>

  <!-- Errors Block -->
  <div *ngIf="form.invalid" class="text-red-500 font-semibold">
    <p *ngIf="name.invalid && name.touched" class="text-sm">Name is required and must be at least 3 characters long</p>
    <p *ngIf="lastname.invalid && lastname.touched" class="text-sm">Lastname is required and must be at least 3 characters long</p>
    <p *ngIf="phonenumber.invalid && phonenumber.touched" class="text-sm">Phone is required</p>

  </div>
  <!-- output form values -->
  <div>
    <pre class="text-lg font-semibold">{{ form.value | json }}
        </pre>
  </div>
</form>
