<!-- <div style="border: 3px dotted aquamarine; padding: 1rem; margin: 1rem;">
  <h2>{{user.name}}</h2>
  <p>{{user.email}}</p>
  <button (click)="handleChangePricipalUserClick()">Cambiar usuario pricipal</button>
</div> -->


<div class="card w-96 bg-base-100 shadow-xl">
  <div class="card-body">
    <h2 class="card-title">{{user.name}}</h2>
    <p>{{user.email}}</p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary mt-2" (click)="handleChangePricipalUserClick()">Cambiar a usuario principal</button>
    </div>
  </div>
</div>
