<form action="" class="w-[50vw] flex justify-center items-center flex-col gap-9 mx-auto p-5  bg-base-200 rounded-2xl">
    <h1 class="text-3xl font-semibold">Login</h1>

    <label for="Email" class="">
      <input name="Email" type="text" class="input input-bordered !w-full" placeholder="Email"  />
    </label>

    <label for="Password" class="">
      <input name="Password" type="password" class="input input-bordered !w-full" placeholder="Password"  />
    </label>

    <button class="btn btn-primary">Login</button>

  </form>

