<form [formGroup]="form" novalidate (ngSubmit)="onLodingSubmit()"
 class="w-[50vw] flex justify-center items-center flex-col gap-9 mx-auto p-5  bg-base-200 rounded-2xl">
    <h1 class="text-3xl font-semibold">Login</h1>

    <label for="Email" class="">
      <input
      name="Email"
      type="email"
      placeholder="Email"
      #emailInput
      formControlName="email"
      class="input input-bordered !w-full"
    />
    </label>

    <!-- Email errors -->
      <div *ngIf="form.controls.email.touched && form.controls.email.invalid">
        <p *ngIf="form.controls.email.hasError('required')" class="font-medium text-red-500 text-xs">
            This field is mandatory
          </p>
          <p *ngIf="form.controls.email.hasError('email')" class="font-medium text-red-500 text-xs">
            This field should be a email
        </p>
    </div>


    <label for="Password" class="">
      <input
      name="Password"
      type="password"
      placeholder="Password"
      #passwordInput
      formControlName="password"
      class="input input-bordered !w-full"
      />
    </label>

    <!-- Email errors -->
    <div *ngIf="form.controls.password.touched && form.controls.password.invalid">
      <p *ngIf="form.controls.password.hasError('required')" class="font-medium text-red-500 text-xs mt-1 ml-1">
            This field is mandatory
      </p>
      <p *ngIf="form.controls.password.hasError('minlength')" class="font-medium text-red-500 text-xs mt-1 ml-1">
            This field should be greater than 6 characters
      </p>
    </div>



    <button class="btn btn-primary">Login</button>

  </form>

